<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>Your results:</title>
</head>
 
<body>
	<strong>Make something with the following</strong> 
    <p style="text-align:center;">
{% load static %} <img src="{% static "idea_app/media/page2_pics/apple.jpg" %}" alt="home"
width="150"
height="150"/>
{% load static %} <img src="{% static "idea_app/media/page2_pics/grass.jpg" %}" alt="home"
width="150"
height="150"/>
{% load static %} <img src="{% static "idea_app/media/page2_pics/blueberries.jpg" %}" alt="home"
width="150"
height="150"/>
{% load static %} <img src="{% static "idea_app/media/page2_pics/dress.jpg" %}" alt="home"
width="150"
height="150"/>
{% load static %} <img src="{% static "idea_app/media/page2_pics/fish.png" %}" alt="home"
width="150"
height="150"/>
</p>
</body>
 
</html>
